* {
    font-size: 24px;
    /* color: black
    El selector * no modifica cosas q ya tengan un valor previo, en este caso el color */
}

.contenedor {
    background-color: pink;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.center {
    padding: 50px 12px ;
    text-align: left;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}

.color{
    /* border: 10px red groove */
    border-style: solid;    
    border-color: blue;
    border-radius: 5px;
    border-width: 10px;
}

#fondo {
   background-color: white;
   text-align: center;
   /* opacity le da transparencia a todo el objeto */
   height: 300px;
   background: #fff url('cascada.png') no-repeat center / 350px
   /* background-image: url('cascada.png');
   background-size: 200px 200px;
   background-repeat: repeat-x;
   background-position: center; */
}
.margen{
    background-color: chocolate;
    margin: 0 auto ;
    padding: 50px;
    height: 50px;
    width: 300px;
    overflow: scroll;
    border: 5px solid black;
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 3px black;
}

a:hover { 
    color: goldenrod;
    border: 2px solid goldenrod;
    background-color: white; 
    transform: 0.3s;
}

/* El selector de estado debe ser siempre en este orden, si quiero usar hover debo usar link y visited antes */


.enlace{
    color: black;
    background-color: gold;
    border: 2px solid black;
    border-radius: 10px;    
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
}

ul {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
    background-color: cyan;
    list-style-type: disc;
    list-style-position:inside;
}

/* creacion y edicion de tablas */

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: solid 1px #000;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #aaa;
    cursor: pointer;
}

span { 
    display: block; 
    max-width: 300px;
    background-color: red
}

.inline { display: inline; }
/* display:inline hace q dos etiquetas puedan estar en la misma linea. Mientras q display:black fuerza saltos de linea 
La propiedad display:none los oculta igual q la propiedad visibility: hidden
Las etiquetas que tienen inside por defecto son span, a y img */

#position {
    position: relative;
    left: 20px;
    /* top: 25px; */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.column {
    margin: 0;
    padding: 0px 15px;
    width: 33.3%;
}

.inline-block{
    display: inline-block;
}

/* .color { color: #000 }

.color { color: rgb(0, 255, 255) }

.color { border: 5px black solid }
la ultima varialbe hace referencia al estilo q tendra el contorno del objeto. Estos pueden ser:
dotted, dashed, solid, double, groove, ridge, inset, outset, none, hidden
(bordes con efecto: groove, ridge, inset, outset)